/node_modules/*
/wwwroot/*
/bin/
/obj/
/PlenetRepoTests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/PlenetRepoTests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/PlenetRepoTests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/PlenetRepoTests/bin/Debug/netcoreapp2.1/PlenetRepoTests.deps.json
/PlenetRepoTests/bin/Debug/netcoreapp2.1/PlenetRepoTests.runtimeconfig.dev.json
/PlenetRepoTests/bin/Debug/netcoreapp2.1/PlenetRepoTests.runtimeconfig.json
/PlenetRepoTests/obj/Debug/netcoreapp2.1/PlenetRepoTests.AssemblyInfo.cs
/PlenetRepoTests/obj/Debug/netcoreapp2.1/PlenetRepoTests.AssemblyInfoInputs.cache
/PlenetRepoTests/obj/Debug/netcoreapp2.1/PlenetRepoTests.Program.cs
/PlenetRepoTests/obj/Debug/netcoreapp2.1/PlenetRepoTests.assets.cache
/PlenetRepoTests/obj/Debug/netcoreapp2.1/PlenetRepoTests.csproj.CoreCompileInputs.cache
/PlenetRepoTests/obj/Debug/netcoreapp2.1/PlenetRepoTests.csproj.FileListAbsolute.txt
/PlenetRepoTests/obj/Debug/netcoreapp2.1/PlenetRepoTests.csprojAssemblyReference.cache
/PlenetRepoTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PlenetRepoTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PlenetRepoTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/PlenetRepoTests/obj/PlenetRepoTests.csproj.nuget.cache
/PlenetRepoTests/obj/PlenetRepoTests.csproj.nuget.g.props
/PlenetRepoTests/obj/PlenetRepoTests.csproj.nuget.g.targets
/PlenetRepoTests/obj/project.assets.json
